name: Deploy Recipes_Cards_PDF to Hostinger VPS

on:
    push:
        branches: [ "main", "production" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Deploy via Docker Compose on VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/Recipes_Cards_PDF
            curl -o compose.prod.yaml https://raw.githubusercontent.com/${{ github.repository }}/main/compose.prod.yaml

            docker compose -f compose.prod.yaml pull
            docker compose -f compose.prod.yaml up -d --build --remove-orphans
            docker system prune -f